---
import Icon from 'astro-icon';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Astro.">
  <main>
    <!-- Hero -->
    <section class="py-20 lg:py-24">
      <div class="container mx-auto text-center">
        <h1 class="mx-auto leading-tight sm:w-4/5 lg:w-2/3">
          The missing <i>Push</i> service for <span class="text-primary-500">RSS</span> feeds
        </h1>
        <p class="mx-auto mt-5 text-lg sm:w-4/5 lg:w-2/4 lg:text-xl">
          Monitor your RSS/Atom/JSON feeds and get notified through webhooks on feed updates.
        </p>
        <div class="mt-7 inline-flex items-center">
          <a
            href="/"
            class="px-6 py-3 font-medium text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none"
          >Try for free</a>
          <a
            href="/pricing"
            class="px-6 py-3 ml-3 font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-primary-600 focus:z-10 focus:ring-4 focus:ring-gray-200"
          >View plans</a>
        </div>
        <p class="italic mt-3 text-gray-700">7-day free trial. No credit card requried.</p>
        <div class="mt-8 w-4/5 mx-auto 2xl:w-2/3">
          <picture>
            <source srcset="octopus-sm.png" media="(max-width: 767px)">
            <img src="octopus.png" alt="Subscribe to feeds and get notified via webhook">
          </picture>
        </div>
      </div>
    </section>

    <!-- Made for you -->
    <section class="py-20 bg-gray-100">
      <div class="container mx-auto text-center">
        <h3 class="mb-12">Made for you —</h3>
        <div class="grid grid-cols-12 gap-y-8 sm:gap-8 lg:gap-10 xl:gap-20">
          <div class="col-span-12 p-6 text-center bg-white rounded-xl sm:col-span-6 lg:col-span-4 lg:p-7 xl:p-10">
            <Icon name="code" class="w-10 mx-auto text-primary-600" />
            <h6 class="mt-5 mb-2 font-semibold">Developers</h6>
            <p class="text-gray-800">
              Build amazing apps using the feeder api without having to spend your effort on managing feed infrastructure
            </p>
          </div>
          <div class="col-span-12 p-6 text-center bg-white rounded-xl sm:col-span-6 lg:col-span-4 lg:p-7 xl:p-10">
            <Icon name="magnifying-glass" class="w-10 mx-auto text-primary-600" />
            <h6 class="mt-5 mb-2 font-semibold">Reseachers</h6>
            <p class="text-gray-800">
              Track trends and developments in your areas of interest for research and analysis across various sources
            </p>
          </div>
          <div class="col-span-12 p-6 text-center bg-white rounded-xl sm:col-span-6 sm:col-start-4 lg:col-span-4 lg:col-start-auto lg:p-7 xl:p-10">
            <Icon name="briefcase" class="w-10 mx-auto text-primary-600" />
            <h6 class="mt-5 mb-2 font-semibold">Businesses</h6>
            <p class="text-gray-800">
              Stay on pace with your competitors by following industry tends and what your competitors are doing
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Subscribe -->
    <section class="py-20 lg:py-32">
      <div class="container mx-auto">
        <div class="flex flex-wrap lg:flex-nowrap">
          <div class="flex basis-full shrink-0 lg:basis-2/5 lg:pr-14">
            <div class="grow self-center">
              <div class="mb-5 flex items-center">
                <Icon name="rss" class="w-8 text-[#EA580C]" />
                <span class="mx-3.5 text-xl font-medium text-gray-300">+</span>
                <Icon name="google" class="w-7 text-[#4285F4]" />
                <span class="mx-3.5 text-xl font-medium text-gray-300">+</span>
                <Icon name="reddit" class="w-8 text-[#FF5700]" />
              </div>
              <h2 class="mb-6 font-semibold">Subscribe to feeds across the web</h2>
              <p class="mb-4 text-lg">
                Easily follow feeds from any source, directly from the UI.
              </p>
              <ul class="flex flex-col text-lg space-y-2">
                <li class="inline-flex">
                  <Icon name="check" class="w-6 mr-2 text-primary-500" />
                  Websites with RSS feeds
                </li>
                <li class="inline-flex">
                  <Icon name="check" class="w-6 mr-2 text-primary-500" />
                  <span class="leading-tight">Kewords or phrases mentioned in the news</span>
                </li>
                <li class="inline-flex">
                  <Icon name="check" class="w-6 mr-2 text-primary-500" />
                  Subreddits, topics and users on Reddit
                </li>
              </ul>
            </div>
          </div>
          <div class="grow pt-10 lg:pt-0">
            <img
              src="/add-subscription.png"
              alt="Form to subscribe to feeds"
              class="border border-primary-200 rounded-[10px]"
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Manage subscriptions -->
    <section class="py-20 bg-gray-100 lg:py-32">
      <div class="container mx-auto">
        <div class="flex flex-wrap lg:flex-nowrap">
          <div class="flex basis-full shrink-0 lg:basis-2/5 lg:pr-14">
            <div class="grow self-center">
              <h2 class="mb-6 font-semibold">Manage all your subscriptions in one place</h2>
              <p class="text-lg">
                Keep track of feeds you have subscribed to and their status. View, update and even unsubscribe any time from the UI.
                You can also pause or resume updates from being delivered to webhooks on a per feed basis.
              </p>
            </div>
          </div>
          <div class="grow pt-10 lg:pt-0">
            <img
              src="/manage-subscriptions.png"
              alt="List of feed subscriptions"
              class="border border-primary-200 rounded-[10px]"
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Track deliveries -->
    <section class="py-20 lg:py-32">
      <div class="container mx-auto">
        <div class="flex flex-wrap lg:flex-nowrap">
          <div class="flex basis-full shrink-0 lg:basis-2/5 lg:pr-14">
            <div class="grow self-center">
              <h2 class="mb-6 font-semibold">Track and debug feed updates</h2>
              <p class="text-lg">
                We keep a log of all the feed updates we deliver to your webhooks.
                You can view the status of each delivery and see the full payload delivered to your webhook.
                You can even resend the payload to your webhook in case the delivery failed.
              </p>
            </div>
          </div>
          <div class="grow pt-10 lg:pt-0">
            <img
              src="/deliveries.png"
              alt="Log of webhook deliveries"
              class="border border-primary-200 rounded-[10px]"
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Call to action -->
    <section class="py-52 sm:py-40">
      <div class="container mx-auto">
        <div class="mx-auto text-center lg:w-2/3">
          <h1 class="mb-6 leading-tight">Stop polling.<br/>Start subscribing.</h1>
          <p class="text-xl">
            Try Feeder for free for 7 days. No credit card required.
          </p>
          <div class="mt-12 inline-flex items-center">
            <a
              href="/"
              class="px-6 py-3 font-medium text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none"
            >Get started</a>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
