---
import Icon from 'astro-icon';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pricing - Feedflow">
  <main>
    <!-- Pricing plans -->
    <section class="py-24">
      <div class="container mx-auto">
        <div class="mb-2 font-medium text-center uppercase tracking-widest text-primary-600">
          Pricing
        </div>
        <h1 class="mb-6 text-center">Find a plan that's right for you.</h1>
        <p class="mb-16 text-xl text-center text-gray-600">
          Try any paid plan for free for 7 days. No credit card required.
        </p>
        <div class="grid grid-cols-12 gap-6">
          <div class="col-span-12 border rounded-lg md:col-span-6 lg:col-span-3">
            <div class="p-6">
              <h6 class="mb-4 font-semibold">Hobby</h6>
              <p class="text-gray-600">All the basics you need to get started</p>
              <div class="my-8">
                <span class="text-4xl font-bold">9$</span>
                <span class="font-medium text-gray-500">/mo</span>
              </div>
              <a
                href="/"
                class="block px-4 py-2 text-sm font-medium text-center text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none"
              >
                Start your trial
              </a>
            </div>
            <div class="p-6 border-t">
              <span class="text-[13px] font-medium uppercase text-gray-700">
                what's included
              </span>
              <div class="mt-4 space-y-2">
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">100 subscriptions</span>
                </div>
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">7 day log retention</span>
                </div>
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">Email support</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 border rounded-lg md:col-span-6 lg:col-span-3">
            <div class="p-6">
              <h6 class="mb-4 font-semibold">Freelancer</h6>
              <p class="text-gray-600">All the basics you need to get started</p>
              <div class="my-8">
                <span class="text-4xl font-bold">49$</span>
                <span class="font-medium text-gray-500">/mo</span>
              </div>
              <a
                href="/"
                class="block px-4 py-2 text-sm font-medium text-center text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none"
              >
                Start your trial
              </a>
            </div>
            <div class="p-6 border-t">
              <span class="text-[13px] font-medium uppercase text-gray-700">
                what's included
              </span>
              <div class="mt-4 space-y-2">
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">1000 subscriptions</span>
                </div>
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">14 day log retention</span>
                </div>
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">Email support</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 border rounded-lg md:col-span-6 lg:col-span-3">
            <div class="p-6">
              <h6 class="mb-4 font-semibold">Startup</h6>
              <p class="text-gray-600">All the basics you need to get started</p>
              <div class="my-8">
                <span class="text-4xl font-bold">149$</span>
                <span class="font-medium text-gray-500">/mo</span>
              </div>
              <a
                href="/"
                class="block px-4 py-2 text-sm font-medium text-center text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none"
              >
                Start your trial
              </a>
            </div>
            <div class="p-6 border-t">
              <span class="text-[13px] font-medium uppercase text-gray-700">
                what's included
              </span>
              <div class="mt-4 space-y-2">
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">5000 subscriptions</span>
                </div>
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">30 day log retention</span>
                </div>
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">Email support</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 border rounded-lg md:col-span-6 lg:col-span-3">
            <div class="p-6">
              <h6 class="mb-4 font-semibold">Enterprise</h6>
              <p class="text-gray-600">All the basics you need to get started</p>
              <div class="my-8">
                <span class="text-4xl font-bold">299$</span>
                <span class="font-medium text-gray-500">/mo</span>
              </div>
              <a
                href="/"
                class="block px-4 py-2 text-sm font-medium text-center text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none"
              >
                Start your trial
              </a>
            </div>
            <div class="p-6 border-t">
              <span class="text-[13px] font-medium uppercase text-gray-700">
                what's included
              </span>
              <div class="mt-4 space-y-2">
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">10000 subscriptions</span>
                </div>
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">30 day log retention</span>
                </div>
                <div class="inline-flex">
                  <Icon name="check" class="check" />
                  <span class="text-[15px] text-gray-500">Email support</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FAQs -->
    <section class="py-24 bg-gray-100">
      <div class="container mx-auto">
        <h2 class="mb-12">Pricing FAQ</h2>
        <div class="grid grid-cols-8 gap-6">
          <div class="col-span-8 p-4 bg-white rounded-lg md:col-span-4 md:p-6">
            <h6 class="mb-4 font-semibold">What is Feedflow?</h6>
            <p class="text-lg">
              Feedflow is a service that allows you to subscribe to RSS/ATOM/JSON feeds
              and notify you via webhooks when new content is available.
            </p>
          </div>
          <div class="col-span-8 p-4 bg-white rounded-lg md:col-span-4 md:p-6">
            <h6 class="mb-4 font-semibold">Is free trial available for all paid plans?</h6>
            <p class="text-lg">
              Yes, we offer 7-day free trial for all paid plans without any payment required.
              You can subscribe to a plan by making a payment after the trial period.
            </p>
          </div>
          <div class="col-span-8 p-4 bg-white rounded-lg md:col-span-4 md:p-6">
            <h6 class="mb-4 font-semibold">How can I pay?</h6>
            <p class="text-lg">
              We currently only accept payments via PayPal. You can set your PayPal account
              in billings portal and pay for your subscription.
            </p>
          </div>
          <div class="col-span-8 p-4 bg-white rounded-lg md:col-span-4 md:p-6">
            <h6 class="mb-4 font-semibold">How do I cancel my subscripition?</h6>
            <p class="text-lg">
              You can cancel your subscription directly from your account.
              It's not necessary to contact us. If you want to continue using the service,
              you can re-subscribe back from your account.
            </p>
          </div>
          <div class="col-span-8 p-4 bg-white rounded-lg md:col-span-4 md:p-6">
            <h6 class="mb-4 font-semibold">Do you offer refunds?</h6>
            <p class="text-lg">
              No, we do not offer refunds. Please refer to terms and conditions for more details.
            </p>
          </div>
          <div class="col-span-8 p-4 bg-white rounded-lg md:col-span-4 md:p-6">
            <h6 class="mb-4 font-semibold">How do I download my invoices?</h6>
            <p class="text-lg">
              You'll find all your invoices in your account in the billing section.
              You can also change your invoice information directly from your account.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to action -->
    <section class="py-52 sm:py-44">
      <div class="container mx-auto">
        <div class="mx-auto text-center lg:w-2/3">
          <h1 class="mb-8">Need help with plans?</h1>
          <p class="text-lg text-gray-600">
            Feel free to contact us if you have any questions or suggestions about our product. Before contacting support, please review the FAQ above.
          </p>
          <div class="mt-12 inline-flex items-center">
            <a
              href="/"
              class="px-6 py-3 font-medium text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none"
            >Contact Us</a>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .check {
    @apply shrink-0 self-start w-5 mt-0.5 mr-3 text-emerald-500;
  }
</style>
