---
import "../styles/global.css";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <div class="container mx-auto">
        <div class="flex justify-between items-center h-16">
          <div class="flex items-center">
            <a href="/" class="flex items-center">
              <span class="text-3xl font-semibold">feeder</span>
            </a>
          </div>
          <div class="flex items-center">
            <a href="/" class="px-5 py-2.5 mr-3 font-medium text-gray-700 rounded-lg hover:bg-gray-100">Login</a>
            <a href="/" class="px-5 py-2.5 font-medium text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none">Get started</a>
          </div>
        </div>
      </div>
    </nav>
    <slot />
  </body>
</html>
