---
import "../styles/fonts.css";
import "../styles/global.css";
import Icon from 'astro-icon';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta name="description" content="Feedbus is a service that lets you subscribe to RSS/ATOM/JSON feeds and get notified when new content is available.">
  </head>
  <body>
    <nav>
      <div class="container mx-auto">
        <div class="flex justify-between items-center h-20">
          <div class="flex items-center">
            <a href="/" class="flex items-baseline">
              <Icon name="logo" class="w-6 mr-2" />
              <span class="text-2xl font-semibold text-gray-900">feedbus</span>
            </a>
          </div>
          <div class="flex items-center">
            <a href="/" class="px-5 py-2.5 mr-3 font-medium text-gray-700 rounded-lg hover:bg-gray-100">Login</a>
            <a href="/" class="hidden px-5 py-2.5 font-medium text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 focus:outline-none sm:block">
              Get started
            </a>
          </div>
        </div>
      </div>
    </nav>
    <slot />
    <footer class="py-12">
      <div class="container mx-auto">
        <div class="text-center space-x-6 lg:space-x-10">
          <a href="/" class="text-lg">About</a>
          <a href="/pricing" class="text-lg">Pricing</a>
          <a href="/" class="text-lg">Terms</a>
          <a href="/" class="text-lg">Privacy</a>
        </div>
      </div>
    </footer>
  </body>
</html>
